[submodule "SingleSuit/solver"]
	path = SingleSuit/solver
	url = https://github.com/maksloboda/Singlesuit-Fool-Solver.git
[submodule "Whistette/solver"]
	path = Whistette/solver
	url = https://github.com/maksloboda/Singlesuit-Whistette.git
